div {
    color: white;
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

p {
    color: white;
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
}

button {
    color: black;
    background-color: orange;
}